<!DOCTYPE html>

<html lang='fr'>
  <head>
    <meta charset='utf-8'/>
    <link href='target.css' rel='stylesheet' type='text/css'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= targetTitle%></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </head>
  <body id='mybody' onload='placeImpact()'>
    <!-- Title line -->
    <div class='row'>
      <div class='col-sm-12'><h1><%= targetTitle%></h1></div>
    </div>
    <!-- Target background image -->
    <div class='row'>
      <div class='col-sm-12'>
        <svg class='targetImage' width='600' height='600' viewBox='0 0 600 600'>
          <image xlink:href='<%= targetImage%>' id='targetBackground'/>
          <circle id='initI'
            cx='0' cy='0' r='1'
            stroke='black' stroke-width='3' fill='Lime'>
        </svg>
      </div>
    </div>
    <!-- Legend -->
    <div class='row'><div class='col-sm-12'>Legend</div></div>
    <!-- Distance (included result zone)-->
    <div class='row'>
      <div class='col-sm-3'>Distance: </div>
      <div class='col-sm-3' id='dist'></div>
      <div class='col-sm-6' id='zonehit'></div>
    </div>
    <!-- Debug : show initial impact, adjustment -->
    <div class='row' >
      <div id='debug' class='col-sm-4'>
        Initial impact
      </div>
      <div class='col-sm-2'>Adjustement <%= targetAdjustement%></div>
    </div>
    <!-- Send -->
    <div class='row'>
      <div class='col-sm-12'>
        <button type='button' class='btn btn-primary'>
          Send Adjusted Impact
        </button>
      </div>
    </div>
  </body>

<script>
  var onclick = ((x) => {
    var dist = distanceToImpact(x.clientX, x.clientY)
    document.getElementById('dist').innerHTML = 'Distance : ' + dist.toString()
  })


  // Manage roolover on the backgtroung image
  document.getElementById('targetBackground').addEventListener('onclick', onclick)
  var squareSize = <%= targetSquareSize %>

  var squareToPixel = ((x) => {
    return (x-0.5) * squareSize
  })

  var pixelToSquare = ((x) => {
    return  Math.floor(x / squareSize) + 1
  })

 var distanceToImpact = ((x,y) => {
   var rec = document.getElementById('targetBackground').getBoundingClientRect()
   return Math.abs(<%= targetIImpX %> - pixelToSquare(x-rec.left)) +
          Math.abs(<%= targetIImpY %> - pixelToSquare(y-rec.top))
 })
  var placeImpact = (() => {
    var px = squareToPixel(<%= targetIImpX %>)
    var py = squareToPixel(<%= targetIImpY %>)
    document.getElementById('initI').setAttribute('cx', px)
    document.getElementById('initI').setAttribute('cy', py)
    document.getElementById('initI').setAttribute('r', squareSize/2)
  })

</script>
</html>
