<!DOCTYPE html>

<html lang='fr'>
  <head>
    <meta charset="utf-8"/>
    <link href='target.css' rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= targetTitle%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body onload="placeImpact()">
    <div class='row'>
      <div class='col-sm-2'>
        <h1><%= targetTitle%></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-2'>
        <div class='row'><div class='col-sm-12'>
          Adjustement <%= targetAdjustement%>
        </div></div>
        <div class='row'><div class='col-sm-12'>
          Initial impact: [<%= targetIImpX%>, <%= targetIImpY%>]
        </div></div>
        <!-- Distance to impact point -->
        <div class='row'>
          <div class='col-sm-9'>Distance: </div>
          <div class='col-sm-3' id='dist'></div>
        </div>
        <div class='row'><div class='col-sm-12'>Adjusted impact</div></div>
        <div class='row'><div class='col-sm-12'>Zone impacted</div></div>
        <div class='row'>
          <div class='col-sm-12'>
            <button type="button" class="btn btn-primary">
              Send Adjusted Impact
            </button>
          </div>
        </div>
      </div>
    <div class='col-sm-10'>
        <svg class='targetImage'
        width='600' height='600' viewBox='0 0 600 600'>
          <image xlink:href='<%= targetImage%>' id="targetBackground"/>
          <circle
            cx='<%= targetSquareSize.px%>' cy='<%= targetSquareSize.py%>' r='15'
            stroke="black" stroke-width="3" fill="Lime">
        </svg>
      </div>
    </div>
  </body>
  <script>

    document.getElementById("targetBackground").addEventListener("mouseover", mouseover);
    document.getElementById("targetBackground").addEventListener("mouseout", mouseout);

    function mouseover(x) {
      document.getElementById("dist").innerHTML = "4"
    }
    function mouseout(x) {
      document.getElementById("dist").innerHTML = "-"
    }
    function placeImpact() {

    }
  </script>
</html>
